<div class="list-group">
	<div class="bg-primary list-group-item list-group-item-action flex-column align-items-start">
		<div class="row my-3">
			<div class="col-8 col-xl-9">
				<h4>
					<strong>
						<i class="bi bi-forward"></i>
						{{ task.title }}
					</strong>
				</h4>
			</div>
			<div class="col-4 col-xl-3">
				<div class="d-flex w-100 justify-content-between">
					{% if task.isDone %}
						<div>
							<a href="{{ path('task_toggle', {'id': task.id}) }}" id="task-{{ task.id }}-undone-btn" class="btn btn-success btn-sm">
								<i class="bi bi-recycle" title="Marquer cette tâche comme à faire"></i>
							</a>
						</div>
					{% else %}
						<div>
							<a href="{{ path('task_toggle', {'id': task.id}) }}" id="task-{{ task.id }}-done-btn" class="btn btn-success btn-sm">
								<i class="bi bi-check-lg" title="Marquer cette tâche faite"></i>
							</a>
						</div>
						<div>
							<a href="{{ path('task_edit', {'id': task.id}) }}" id="task-{{ task.id }}-edit-btn" class="btn btn-success btn-sm">
								<i class="bi bi-pencil-square" title="Modifier cette tâche"></i>
							</a>
						</div>
					{% endif %}
					<div>
						<a href="{{ path('task_delete', {'id': task.id}) }}" id="task-{{ task.id }}-delete-btn" class="btn btn-danger btn-sm">
							<i class="bi bi-trash" title="Supprimer cette tâche"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<p class="mb-3">{{ task.content }}</p>
	</div>
</div>
